ul {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}
li {
    list-style: none;
    text-decoration: none;
    

}
.movie {
    width: 50vw;
    color: orangered;
    font-weight: bolder;

}
.navbarBtn {
    width: 10vw;
    height: 5vh;
    /* color: orangered;
    color: white; */
}
